/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Pozicionálás */
.profile-card {
  width: 420px;
  max-width: calc(100vw - 10px);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}
.name-headline {
  letter-spacing:0.02em;
  margin-top:10px;
  font-size:20px;
}

span {
  font-size: 14px;
}

h2 {
    font-weight: normal;
}

p {
  letter-spacing:0.05em;
  margin-top:10px;
  font-size:20px;
  font-family:cursive;
}

.about {
  letter-spacing:0.05em;
  margin-top:5px;
  font-size:18px;
  text-align:justify;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}

.profile-image {
  margin-top: 50px;
}

/* Contact links */
ul {
  list-style-type: none;
  font-size: 1.1em;
  padding:8px;
}
li {
  display: inline;
}

.head, .about {
  margin-bottom: 5%;
}
.content {
  padding: 2% 5%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

body {
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

.language {
  letter-spacing:0.05em;
  margin-left:310px;
  margin-top: -10px;
  font-size:20px;
  font-style: bold;
  color:forestgreen;
}